node_modules
dist
tsconfig.tsbuildinfo
pnpm-lock.yaml
.turbo
.env
.env.*

.vscode.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel
.next
.vscode
packages/api/coverage/clover.xml
packages/api/coverage/coverage-final.json
packages/api/coverage/lcov.info
packages/api/coverage/lcov-report/base.css
packages/api/coverage/lcov-report/block-navigation.js
packages/api/coverage/lcov-report/favicon.png
packages/api/coverage/lcov-report/index.html
packages/api/coverage/lcov-report/prettify.css
packages/api/coverage/lcov-report/prettify.js
packages/api/coverage/lcov-report/sort-arrow-sprite.png
packages/api/coverage/lcov-report/sorter.js
packages/api/coverage/lcov-report/src/index.html
packages/api/coverage/lcov-report/src/server.ts.html
packages/api/coverage/lcov-report/src/auth/auth.controller.ts.html
packages/api/coverage/lcov-report/src/auth/auth.repository.ts.html
packages/api/coverage/lcov-report/src/auth/auth.routes.ts.html
packages/api/coverage/lcov-report/src/auth/auth.schema.ts.html
packages/api/coverage/lcov-report/src/auth/auth.service.ts.html
packages/api/coverage/lcov-report/src/auth/errors.ts.html
packages/api/coverage/lcov-report/src/auth/index.html
packages/api/coverage/lcov-report/src/auth/oauth.ts.html
packages/api/coverage/lcov-report/src/middleware/index.html
packages/api/coverage/lcov-report/src/middleware/schema-validation.ts.html
